<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="../stylesheets/layout/aboutus.css">
    <title>ABOUT US</title>
</head>
<body>
<%-include('layout/header')%>

    <section class="section col-md-12">
        <div class="container">
                <h1 class="title">
                    <span class="char1">WE</span>
                    <span class="char3"> </span>
                    <span class="char4">ARE</span>
                    <span class="char7"> </span>
                    <span class="char8">TEAM</span>

                </h1>
        </div>
        <div class="text">
            <div class="container">
                <div class="row">
                    <div class="aboutus col-md-6">
                        <h2>ABOUT US</h2>
                        <p>We are students of FPT Aptech school.
                            Our team has 5 members: Le Hong Viet, Nguyen Ngoc Tien, Nguyen Huu Long, Ha Trong Nghia, Nguyen Duy Phuoc.
                            We produce about Metric Conversion, a website that belongs to the field of unit conversions.
                            There are many fields, like: Length conversion, Area conversion, Currency,...
                            All units will be converted to the most accurate scale.
                            If you want to convert a unit, please come to us. Everything you need to convert is here

                        </p>
                    </div>
                    <div class="introduction col-md-6">
                        <div class="ourmission">
                            <h3>OUR MISSION</h3>
                            <p>We believe that its easy-to-use, searchable design and meticulous calculation will help you easily find and convert the units you want.
                                Our mission is to bring great ideas to life and help others do the same.
                            </p>
                        </div>
                        <div class="dsadas">
                            <h3>WHY ARE WE MAKING THIS PAGE ?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <%-include('layout/footer')%>
</body>
</html>
