<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/conversion.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/layout/nav-slider.css">
    <title>ABOUT US</title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/nav-slider')%>
</body>
</html>
