<!DOCTYPE html>
<html>
<head>
  <%-include('layout/head')%>
  <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/imagehover.css">

  <title></title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/search')%>
<section class="body">
  <div class="container">
    <div class="row">
      <main class="col-md-8 col-sm-12 main">
        <div class="row">

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/ruler.png">
            <P>LENGTH</P>
            <figcaption>
              Metric and imperial length units converter, meter, centimeter, inch, foot, yard, mile
            </figcaption>
            <a href="http://localhost:3000/length"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/area.png">
            <P>AREA</P>
            <figcaption>
              Metric and imperial area units converter, acre, hectare, square meter, square feet
            </figcaption>
            <a href=""></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/water-drop.png">
            <P>VOLUME</P>
            <figcaption>
              Metric and imperial volume conversion, liter, gallon, cup, quart, ounce, cubic meter, cubic feet
            </figcaption>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/scale.png">
            <P>WEIGHT</P>
            <figcaption>
              Metric and imperial weight and mass converter, pound, ounce, kilogram, gram, stone, ton
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/hot.png">
            <P>TEMPERATURE</P>
            <figcaption>
              Temperature units converter, Celsius, Fahrenheit, Kelvin and Rankine
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/money.png">
            <P>CURRENCY</P>
            <figcaption>
              Currency conversions for all countries, updated daily
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/speed.png">
            <P>SPEED</P>
            <figcaption>
              Metric and imperial speed units conversion, mph, kph, m/s, ft/s
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/clock.png">
            <p>TIME</p>
            <figcaption>
              Date and time conversions, second, millisecond, minute, hour, day, week, month, year, century
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>

          <div class="col-md-1"></div>

          <figure class="imghvr-flip-horiz home-boxes col-md-3 col-sm-12" style="display: flex;align-items: center;justify-content: center;">
            <img src="./images/icon/radar.png">
            <p>FREQUENCY</p>
            <figcaption>
              Frequency units converter, hertz, kilohertz, radian hour, degree second
            </figcaption>
            <a href="http://www.imagehover.io"></a>
          </figure>
        </div>
      </main>


      <nav class="col-md-4 col-sm-12">
        <div class="rankings">
          <div class="title_rankings text-center col-md-12"><h4>Top 10 Highest currentcies<br>(USA)</h4></div>
          <ul>
            <li class="wrap-title-rank">
              <div class="text-left title-rank rank">Name</div>
              <div class="exchange-rage rank"><img src="../images/flags/quốc-kỳ-hoa-kỳ-300x214.png" style="width: 50%;height: 50%"></div>
              <div class="exchange-rage rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 50%;height: 50%"></div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
<script type="text/javascript">
  // $.ajax({
  //   url: '/api/getTopCurrency',
  //   method: 'get',
  //   success: function (result) {
  //   }
  // })
</script>
</body>
</html>
