<!DOCTYPE html>
<html>
  <head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/header.css">
    <title></title>
  </head>
  <body>
  <%-include('layout/header')%>
  </body>
</html>
