<!DOCTYPE html>
<html>
<head>
  <%-include('layout/head')%>
  <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
  <title></title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/search')%>
<section class="body">
  <div class="container">
    <div class="row">
      <main class="col-md-8 main">
        <div class="row">
          <div class="col-md-5">
            <div class="box-conversion">
              <div class="title-box-conversion col-md-12 text-center">
                <h4>Length</h4>
              </div>
              <form class="form-group">
                <div class="col-md-12">
                  <input class="form-control">
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">

          </div>
        </div>
      </main>
      <nav class="col-md-4">
        <div class="rankings">
          <div class="title_rankings text-center col-md-12"><h4>Top 10 Highest currentcies<br>(USA)</h4></div>
          <ul>
            <li class="wrap-title-rank">
              <div class="text-left title-rank rank">Name</div>
              <div class="exchange-rage rank"><img src="../images/flags/quốc-kỳ-hoa-kỳ-300x214.png" style="width: 50%;height: 50%"></div>
              <div class="exchange-rage rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 50%;height: 50%"></div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/quốc-kỳ-hoa-kỳ-300x214.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
</body>
</html>
