<!DOCTYPE html>
<html>
<head>
  <%-include('layout/head')%>
  <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
  <title></title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/search')%>
<section class="body">
  <div class="container">
    <div class="row">
      <main class="col-md-8 main">
        <div class="row">
          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/ruler.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Length</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Metric and imperial length units converter, meter, centimeter, inch, foot, yard, mile
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/area.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Area</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Metric and imperial area units converter, acre, hectare, square meter, square feet
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/volume.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Volume</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Metric and imperial volume conversion, liter, gallon, cup, quart, ounce, cubic meter, cubic feet
            </div>
          </div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/balance2.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Weight</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Metric and imperial weight and mass converter, pound, ounce, kilogram, gram, stone, ton
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/temperature.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Temperature</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Temperature units converter, Celsius, Fahrenheit, Kelvin and Rankine
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/money.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Currency</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Currency conversions for all countries, updated daily
            </div>
          </div>

          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/speed.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Speed</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Metric and imperial speed units conversion, mph, kph, m/s, ft/s
            </div>
          </div>

          <div class="col-md-1"></div>


          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/money.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Currency</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Currency conversions for all countries, updated daily
            </div>
          </div>

          <div class="col-md-1"></div>


          <div class="col-md-3 home-boxes">
            <div class="home-boxes-icon-title">
              <div class="home-boxes-icon">
                <img src="https://www.asknumbers.com/images/barometer.jpg" alt="...">
              </div>
              <div class="home-boxes-title">
                <a href="#">Pressure</a>
              </div>
            </div>
            <div class="home-boxes-content">
              Pressure units conversion, bar, pascal, kpa, psi, atm, torr
            </div>
          </div>
        </div>
      </main>


      <nav class="col-md-4">
        <div class="rankings">
          <div class="title_rankings text-center col-md-12"><h4>Top 10 Highest currentcies<br>(USA)</h4></div>
          <ul>
            <li class="wrap-title-rank">
              <div class="text-left title-rank rank">Name</div>
              <div class="exchange-rage rank"><img src="../images/flags/quốc-kỳ-hoa-kỳ-300x214.png" style="width: 50%;height: 50%"></div>
              <div class="exchange-rage rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 50%;height: 50%"></div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/quốc-kỳ-hoa-kỳ-300x214.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
            <li>
              <div class="number-rank text-left rank">1.</div>
              <div class="flag-imgs rank"><img src="../images/flags/vietnam-flag-xs.png" style="width: 100%;height: 100%"></div>
              <div class="name-currency rank">USA</div>
              <div class="exchange-rage rank">22.345</div>
              <div class="exchange-rage rank">5.2</div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</section>
</body>
</html>
