<!DOCTYPE html>
<html>
  <head>
    <%-include('layout/head')%>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 id="a"></h1>
    <p>Welcome to </p>
        <form class="form-control" method="post">
          <div class="form-group">
            <label class="input">input</label>
            <input type="text" name="cm" class="form-control">
          </div>
          <div class="output">
            <input type="text" name="m" class="form-control">
          </div>
        </form>

  <script type="text/javascript">

  </script>
  </body>
</html>
