<!DOCTYPE html>
<html>
<head>
  <%-include('layout/head')%>
  <link rel="stylesheet" type="text/css" href="./stylesheets/index.css">
  <title></title>
</head>
<body>
<%-include('layout/header')%>
<%-include('layout/search')%>
<section class="body">
  <div class="container" style="display: flex">
    <main class="col-md-8 main">
      aaaaaaaa
    </main>
    <nav class="col-md-4">
      bbbbbbbbbb
    </nav>
  </div>
</section>
</body>
</html>
