<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/length.css">
    <title>LENGTH</title>
</head>
<body>
<%-include('layout/header')%>
<div class="title">
    <i class="fab fa-angellist" style="font-size: 50px !important;"> </i>WELCOME TO LENGTH-C<i class="fab fa-react" style="color: #00B7FF;font-size: 50px"></i>NVERTER
</div>
<section class="length-convert">
    <div class="container">

    </div>
</section>
</body>
</html>