<!DOCTYPE html>
<html>
<head>
    <%-include('layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/length.css">
    <title>LENGTH</title>
</head>
<body>
<%-include('layout/header')%>
<section class="length-convert">
        <h1>
            <span><i class="fab fa-angellist"> </i></span>
            <span>WELCOME</span>
            <span>TO</span>
            <span>LENGTH-C<i class="fab fa-react" style="color: #00B7FF;"></i>NVERTER</span>
            <span class="next col-md-12">
                <button class="buttonnext"><span><a href="length-convert">Next</a></span></button>
            </span>
        </h1>

</section>
</body>
</html>