*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(231, 244, 254)
}

.input-convert{
    background-color: rgb(19, 85, 158);
    background-image: linear-gradient(0deg, rgb(19, 85, 158) 30%, rgba(19, 85, 158, 0) 65%, rgba(19, 85, 158, 0) 0px, transparent), linear-gradient(-241deg, rgb(24, 32, 126) 6%, rgba(24, 32, 126, 0.8) 16%, rgba(255, 255, 255, 0) 57%, transparent), linear-gradient(18deg, rgb(3, 88, 161) 20%, rgb(32, 141, 186) 60%, rgb(113, 137, 178) 75%, rgb(10, 20, 110) 93%);
    height: unset;
    z-index: -1;
    overflow: hidden;
}

.float-left{
    float: left;
}

.input-convert .title{
    color: white;
}

.input-convert .wrap{
    width: 100%;
    max-height: 1000px;
    background-color: rgba(0, 34, 114, 0.65);
    padding: 15px 5%;
    border-radius: 12px 12px 0 0;
    color: white;
}

.input-convert .wrap .wrap-form{
    width: 100%;
    height: 50%;
    padding-top: 5%;
}

.input-convert .wrap .form-group .wrap-input{
    padding: 0 5px!important;
    height: auto;
    width: 100%;
    position: relative;
}

.input-convert .wrap .form-group .wrap-input .input-field{
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px;
    border-radius: 10px;
    color: rgb(0, 34, 114);
    font-size: 2.5rem;
    height: 60px;
    padding-left: 20px;
    width: 100%;
}

.input-convert .wrap .form-group .btn-exchange{
    font-size: inherit;
    text-align: center;
    transition: background 0.25s ease 0s;
    line-height: 1;
    letter-spacing: 0.03em;
    padding: 14px 10px;
    border-radius: 5px;
    background: transparent;
    border: 0px;
    color: white;
    height: 60px;
    width: 60px;
    margin-top: 3%;
}

.input-convert .wrap .form-group .btn-submit{
    text-align: center;
    transition: background 0.25s ease 0s;
    line-height: 1;
    letter-spacing: 0.03em;
    padding: 14px 10px;
    color: rgb(0, 34, 114);
    background: rgb(252, 184, 19);
    border-radius: 10px;
    -webkit-box-align: center;
    align-items: center;
    border: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-weight: 600;
    font-size: 2.5em;
}


.input-convert .wrap .form-group .name-option{
    position: absolute;
    top: 35%;
    padding: 5px 0 10px 10px;
    color: rgb(0, 34, 114);
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 0px;
    border-radius: 10px;
    height: 60px;
    width: 96.5%;
}

.input-convert .wrap .form-group .name-option-1{
    position: absolute;
    width: 100%;
    height: auto;
    top: 35%;
    padding: 5px 0 10px 10px;
    color: rgb(0, 34, 114);
}


.display-none{
    display: none;
}

.input-convert .wrap .form-group .name-option .wrap-img{
    width: 16%;
    float: left;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px ;
}

.input-convert .wrap .form-group .dropdown .wrap-img{
    float: left;
    height: 50px;
    margin-right: 10px ;
}

.input-convert .wrap .form-group .name-option .current-code{
    display: block;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: -5px;
}

.input-convert .wrap .form-group .name-option .current-name{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-convert .wrap .form-group .dropdown-arrow{
    width: 20%;
    position: absolute;
    right: -15px;
    top:0;
}

.input-convert .wrap .wrap-input .dropdown{
    position: absolute;
    top: 115%;
    width: 97%;
    left: 2% !important;
    max-height: 320px;
    z-index: 1000;
    background-color: whitesmoke;
}

.dropdown-menu{
    max-height: 320px !important;
    width: 100%;
    overflow-y : scroll;
    overflow-x: hidden;
}

.dropdown-item{
    height: 60px;
    padding: 5px 0!important;
    width: 100%;
    border-top: 1px solid rgba(172, 167, 167, 0.5);
}

.dropdown-item-1{
    width: 100%;
    height: 100%;
    position: relative;
}

.display-amount-text{
    width: 100%;
    word-wrap: break-word;
}

.number-input{
    font-size: 1.5rem;
    line-height: 1.5em;
    padding-right: 5px;
}

.number-result{
    font-size: 2rem;
    line-height: calc(59px);
    font-weight: 600;
}

.one-unit-conversion{
    width: 100%;
    height: 120px;
    position: relative;
    padding-top: 20px;

}

.one-unit-conversion .text-unit{
    position: absolute;
}

.one-unit-conversion  .text-unit-left{
    left: 0;
    bottom: 10px;
}
.one-unit-conversion  .text-unit-right{
    right: 10px;
    bottom: 10px;
}

.content{
    background-color: rgb(231, 244, 254);
}

.wrap-content{
    background-color: rgb(255, 255, 255);
}

.col-left{
    width: 33%;
}

.col-right{
    width: 67%;
}
.set-text{
    font-weight: 400;
    font-size: 1em;
}

.table-cal{
    margin: 30px auto;
}

.wrap-content .title-table{
    margin-bottom: 30px;
}
