.body{
    width: 100%;
    height: auto;
    padding-top: 20px;
    background-image: url("../images/background-web/pexels-miguel-á-padriñán-19670.jpg");
    background-size: cover;
}

nav .rankings{
    height: 500px;
    border: 3px solid #9fdae5;
    width: 100%;
}

nav .rankings ul{
    width: 100%;
    height: auto;
}

nav .rankings ul li {
    text-decoration: none;
    list-style: none;
    width: 100%;
    float: left;
    line-height: 1.5em;
    margin: 5px 0;
}

nav .rankings ul .wrap-title-rank{
    width: 100%;
    font-weight: 600;
    border-bottom: 1px dashed #9fdae5;
}

nav .rankings ul li .title-rank{
    width: 50%;
}

nav .rankings .title_rankings{
    line-height: 50px !important;
    border-bottom: 2px dashed #9fdae5;
    background-color: #9fdae5;
}

nav .rankings ul li .rank{
    float: left;
    font-size: 1.2em;
}

nav .rankings ul li .number-rank{
    width: 7%;
}

nav .rankings ul li .flag-imgs{
    width: 8%;
}

nav .rankings ul li .flag-imgs img{
    margin-bottom: 5px;
}

nav .rankings ul li .name-currency{
    width: 40%;
    padding-left: 5px;
    text-align: left;
}

nav .rankings ul li .exchange-rage{
    width: 22%;
    text-align: right;
    padding-right: 20px;
}

.home-boxes{
    font-family: sans-serif;
    float: left;
    height: 180px;
    border-radius: 7px;
    margin-bottom: 3% !important;
    margin-top: 15%;
}

.home-boxes img{
    width: 50%;
    height: 50%;
    margin-bottom: calc(50% - 40px);
}

.home-boxes figcaption{
    margin: -10px;
    text-align: match-parent;
}
