.sreach{
    width: 100%;
    height: 250px;
    background-color: #95cedb;
    background-image: url("../images/background-search/bg-page-section.png");
}

.set-search-input{
    position: relative;
}

.dropdown{
    width: 740px;
    max-height: 300px;
    position: absolute;
    top: 61.5%;
    left: 16.5%;
}

.dropdown-menu{
    max-height: 300px !important;

    width: 100%;
    display: none;
}

.dropdown-item{
    height: 50px;
}