.sreach{
    width: 100%;
    height: 250px;
    background-color: #95cedb;
    background-image: url("../images/background-search/bg-page-section.png");
}
.set-search-input{
    position: relative;
}

.dropdown{
    width: 740px;
    max-height: 300px;
    position: absolute;
    top: 61.5%;
    left: 16.5%;
}

.dropdown-menu{
    max-height: 300px !important;

    width: 100%;
    display: none;
}

.dropdown-item{
    height: 50px;
}

.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.btn1{
    color: #3498db;
    font-family: 'Londrina Solid', cursive;
}

.btn1:hover{
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn1:hover::before{
    height: 180%;
}

