body{
    background-image: url("../images/unnamed.jpg");
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.length h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-weight: 500;
}
.intro{
    margin-top: 40px;
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
}
.listunit li{
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    font-weight: 500;
}
.ruler{
    background-color: #333;
}
.container-convert{
    margin-top: 50px;
    color: whitesmoke;
    line-height: 100px;
    background-color: #333;
    text-align: center;
}
.ruler img{
    width: 100%;
}
.donviquydoi select{
    width: 100%;
    height: 40px;
}

.arrow i{
    font-size: 40px;
}
.btnconvert{
    outline: none;
    padding: 5px 40px;
    color: whitesmoke;
    background-color: #4972b1;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}
.inputamount input{
    height: 40px;
    text-align: center;
}
.result{
    padding: 0.5rem 1rem;
    margin-top: 10px;
    background-color: #d9edf7;
    padding-left: 10%;
    line-height: 1.428571429;
    color: #31708f;
    display: none;
    margin-bottom: 20px;
}

.label{
    margin:10px 0;
    font-size: 20px;
}
.convert input{
    width: 100%;
    height: 32px;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
}
.input-unit{
    border: none;
    border-radius: 5px;
    margin: 40px 0;
    background-color: whitesmoke !important;
    background-size: cover;
}
.input-unit a:hover{
    text-decoration: none;
}
.introduce{
    background-color: #e5f3f7;
}