body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
/*.length-convert li{*/
/*    font-weight: bold;*/
/*}*/
/*.intro{*/
/*    width: 100%;*/
/*    margin-top: 40px;*/
/*    font-size: 40px;*/
/*    text-align: center;*/
/*}*/

.length-convert h1{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    letter-spacing: 0.2em;
    font-size: 40px;
}
.length-convert h1 span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        filter: blur(10px);
    }
    100%
    {
        opacity: 100;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
.length-convert h1 span:nth-child(1) {
    animation-delay: 0.5s;
}
.length-convert h1 span:nth-child(2) {
    animation-delay: 1s;
}
.length-convert h1 span:nth-child(3) {
    animation-delay: 2s;
}
.length-convert h1 span:nth-child(4) {
    animation-delay: 3s;
}
.length-convert h1 span:nth-child(5) {
    animation-delay: 4s;
}

.buttonnext {
    border-radius: 4px;
    background-color:#FFFFFF ;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 40px;
}

.buttonnext span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonnext span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonnext:hover span {
    padding-right: 25px;
}

.buttonnext:hover span:after {
    opacity: 1;
    right: 0;
}
.buttonnext a{
    text-decoration: none;
    color: #000000;
}
.buttonnext a:hover{
    text-decoration: none;
    color: #000000;
}