.body-table{
    margin: 0 auto;
}

.col-table-title{
    width: 20%;
    border-top: none !important;
    position: relative;
    padding: 1.2rem 0.75rem 0.75rem 0.75rem !important;
}

.col-table-1{
    width: 13%;
    height: 85px;
    border-top: none !important;
    border-right: 1px solid rgb(205, 205, 205) !important;
}

.currency-comparison-table .wrap-img{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currency-comparison-table .wrap-img-row{
    width: 20%;
    height: auto;
    float: left;
    padding-left: 5px;
}

.currency-comparison-table .wrap-img>img,.wrap-img-row >img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.currency-comparison-table .title-currency{
    color: rgb(0, 92, 239);
    font-size: 1.8vw;
}

.col-table-title > img{
    position: absolute;
    top: 0;
    right: 0;
}

.currency-comparison-table .padding-top{
    padding-top: 1.6rem !important;
}

.currency-comparison-table .title-currency-row{
    float: left;
    width: 60%;
}

.title-currency-compare{
    font-size: 2vw;
    padding: 12px 0;
}

.label-btn{
    position: absolute;
    top: 20%;
    right: 10%;
}

.text-reverst{
    position: absolute;
    top:144%;
}

.font-size-number{
    font-size: 1.3vw;
    word-break: break-all;
}

.currency-comparison-table .footer-compare-currency{
    width: 100%;
    height: 100px;
    background-color: white;
}

.set-btn-add-remove{
    width: 80%;
    position: absolute;
    top: -15%;
    left: 2vw;
}

.set-btn-add-remove .btn-add{
    color: #007bff;
    width: 20%;
    height: auto;
    float: left;
    padding-top: 6px;
}

.set-btn-add-remove .text-btn{
    width: 80%;
    float: left;
    font-size: 1.25vw;
    padding-left: 10px;
}

.wrap-btn-add-remove > a{
    color: #0b2e13;
}

.wrap-btn-add-remove > a:hover{
    color: #0b2e13;
    text-decoration: none;
}

.wrap-btn-add-remove .set-from-input{
    width: 80%;
    border-radius: 20px !important;
    border: 2px solid #fd7e14;
    margin: 0 auto;
    background-color: #f8f8f8;
}

.wrap-btn-add-remove .dropdown-menu{
    position: absolute;
    left: 22px;
    top: 20px;
    width: 120%;
}

.wrap-btn-add-remove .dropdown-item-1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-btn-add-remove .name-option-1{
    width: 100%;
    height: auto;
    padding: 5px 0 10px 10px;
    color: rgb(9, 9, 9);
}

.wrap-btn-add-remove .current-code{
    width: 15%;
    font-size: 1.2vw;
    float: left;

}

.wrap-btn-add-remove .current-name{
    width: 60%;
    font-size: 1.2vw;
    float: left;
}
.wrap-btn-add-remove .dropdown-item >a:hover{
    text-decoration: none;
}

.wrap-btn-add-remove .text-name-option{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.wrap-btn-add-remove .icon-remove{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    right: -15px;
}

.display-block{
    display: block !important;
}