<!DOCTYPE html>
<html>
<head>
    <%-include('../layout/head')%>
    <link rel="stylesheet" type="text/css" href="./stylesheets/search_index.css">
    <title></title>
</head>
<body>
<%-include('../layout/header')%>
<%-include('../layout/search')%>
<div class="container padding">
    <div class="searched text-center">
        <div class="col-12">
            <h1 class="display-4">Search Results</h1>
        </div>
        <hr class="row"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-img">
                    <a href="#"><img src="https://www.asknumbers.com/images/temperature.jpg" width="100%"/></a>
                </div>
                <div class="card-body">
                    <a href="#"><h4 class="card-title">Ten bai viet 1</h4></a>
                    <p>mô tả thêm</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card ">
                <div class="card-img">
                    <a href="#"><img src="https://www.asknumbers.com/images/temperature.jpg" width="100%"/></a>
                </div>
                <div class="card-body">
                    <a href="#"><h4 class="card-title">Ten bai viet 2</h4></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img">
                    <a href="#"><img src="https://www.asknumbers.com/images/temperature.jpg" width="100%"/></a>
                </div>
                <div class="card-body">
                    <a href="#"><h4 class="card-title">Ten bai viet 3</h4></a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img">
                    <a href="#"><img src="https://www.asknumbers.com/images/temperature.jpg" width="100%"/></a>
                </div>
                <div class="card-body">
                    <a href="#"><h4 class="card-title">Ten bai viet 4</h4></a>
                    <p>mô tả thêm</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-img">
                    <a href="#"><img src="https://www.asknumbers.com/images/temperature.jpg" width="100%"/></a>
                </div>
                <div class="card-body">
                    <a href="#"><h4 class="card-title">Ten bai viet 5</h4></a>
                    <p>mô tả thêm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="searched text-center">
        <div class="col-12">
            <h1 class="display-4">Related Articles</h1>
        </div>
        <hr class="row"/>
    </div>
</div>
</body>
</html>
