<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6" style="float: left">
                <h6>About</h6>
                <p class="text-justify">Whilst every effort has been made to ensure the accuracy of the metric calculators and charts given on this site, we cannot make a guarantee or be held responsible for any errors that have been made. If you spot an error on this site, we would be grateful if you could report it to us by using the contact link at the top of this page and we will endeavour to correct it as soon as possible.</p>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-2 col-lg-5 links-1">
                <h6 style="text-align: center">Categories</h6>
                <ul class="footer-links col-lg-6 footer-padding">
                    <li><a href="/length">Length</a></li>
                    <li><a href="/area">Area</a></li>
                    <li><a href="/volume">Volume</a></li>
                    <li><a href="mass">Mass</a></li>
                    <li><a href="temperature">Temperature</a></li>
                </ul>
                <!--      </div>-->

                <!--      <div class="col-md-1"></div>-->

                <!--      <div class="col-md-5 col-lg-3 links-2">-->
                <ul class="footer-links col-lg-6 footer-padding">
                    <li><a href="/currency">Currency</a></li>
                    <li><a href="/speed">Speed</a></li>
                    <li><a href="/time">Time</a></li>
                    <li><a href="/frequency">Frequency</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>