<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
        <div>
            <a href="#" class="navbar-brand">
                <i class="fab fa-react" style="color: #00B7FF;font-size: 50px"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" ID="navbarReponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                   <a class="nav-link active" href="#"><i class="fas fa-home"></i>  Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-ruler-horizontal"></i>  Length</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-globe-africa"></i>  Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-volume-up"></i>  Volume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-acquisitions-incorporated"></i>  Mass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-temperature-high"></i>  Temperature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-coins"></i>  Currency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-book"></i>  History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="title">
<i class="fab fa-angellist" style="font-size: 50px !important;"> </i>WELCOME TO METRIC C<i class="fab fa-react" style="color: #00B7FF;font-size: 50px"></i>NVERSION
</div>
<div class="small-title">
    everything you need to convert is here !
</div>