<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container">
        <div>
            <a href="#" class="navbar-brand">
                <i class="fab fa-react" style="color: #00B7FF;font-size: 50px"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarReponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" ID="navbarReponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Length</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Area</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Volume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mass</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Temperature</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Currency</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">History</a>
                </li>
            </ul>
        </div>
    </div>
</nav>